/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
*.sass-cache*
*~
.DS_Store
.buildpath
.project
.settings
*.sass-cache/
*.sublime*
*.esproj*
db/
docs/
backups/
wp/.htaccess
wp/wp-content/themes/*/compass_app_log.txt
wp/wp-content/uploads
wp/wp-content/w3tc
wp/wp-content/avatars
wp/wp-content/cache
wp/local-config.php
db
/.gitattributes
wp/wp-content/debug.log

